<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <bean id="formatProperties" class="FormatProperties"/>
  <bean id="body2Literal" class="Body2Literal"/>
  <bean id="setBody" class="SetBody"/>

</beans>
